---
import FeaturedProject from "./FeaturedProject.astro";
import astro from "../assets/astro.svg";
import react from "../assets/react.svg";
import js from "../assets/js.svg";
import ts from "../assets/ts.svg";
import html from "../assets/html.svg";
import css from "../assets/css.svg";
import tailwind from "../assets/tailwind.svg";
import nodejs from "../assets/nodejs.svg";
import postgres from "../assets/postgres.svg";
import mysql from "../assets/mysql.svg";
import python from "../assets/python.svg";
import pandas from "../assets/pandas.svg";
import git from "../assets/git.svg";
---

<div
  id="container"
  class="flex justify-center w-full h-screen font-jetbrains-mono text-ctp-text"
>
  <div class="w-[85%] md:w-[65%] pt-20">
    <h1 class="text-3xl md:text-5xl font-semibold tracking-wide">
      Hey! I'm <span class="text-ctp-blue">Lukman Prasetyo</span>
    </h1>
    <p class="mt-2 opacity-80">
      <i class="fa-solid fa-map-pin"></i><span class="text-xl">
        Yogyakarta, Indonesia</span
      >
    </p>
    <p class="mt-2 text-xl">
      I'm a computer science student, Web Developer, and Machine Learning
      enthusiast.
    </p>
    <div class="mt-8 text-base">
      <a
        href="https://www.linkedin.com/in/lukman-prasetyo-341407326/"
        class="transition duration-300 ease-in-out hover:text-ctp-blue"
      >
        <i class="fa-brands fa-linkedin text-xl"></i>
        LinkedIn
      </a> |
      <a
        href="https://github.com/thheor"
        class="transition duration-300 ease-in-out hover:text-ctp-blue"
      >
        <i class="fa-brands fa-github"></i>
        GitHub
      </a> |
      <a
        href=""
        class="transition duration-300 ease-in-out hover:text-ctp-blue"
      >
        <i class="fa-solid fa-envelope"></i>
        Email
      </a> |
      <a
        href=""
        class="about transition duration-300 ease-in-out hover:text-ctp-blue"
        ><span class="hover:mr-1">More about me </span><i
          class="fa-solid fa-arrow-right"></i></a
      >
    </div>
    <div id="work" class="mt-20">
      <h1 class="text-2xl md:text-4xl font-bold mb-5">What I work with</h1>
      <div
        class="group mt-2 inline-flex flex-nowrap w-full overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
      >
        <ul
          class="flex justify-center items-center [&_li]:mx-2 [&_img]:max-w-none group-hover:[animation-play-state:paused] animate-infinite-scroll"
        >
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={js.src} alt="jssss" class="w-12" />
            JavaScript
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={ts.src} alt="ts" class="w-12" />
            TypeScript
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={html.src} alt="html" class="w-12" />
            HTML
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={css.src} alt="css" class="w-12" />
            CSS
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={tailwind.src} alt="tailwind" class="w-12" />
            TailwindCSS
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={react.src} alt="nodejs" class="w-12" />
            React
          </li>
        </ul>
        <ul
          class="flex justify-center items-center [&_li]:mx-2 [&_img]:max-w-none group-hover:[animation-play-state:paused] animate-infinite-scroll"
          aria-hidden="true"
        >
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={js.src} alt="jssss" class="w-12" />
            JavaScript
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={ts.src} alt="ts" class="w-12" />
            TypeScript
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={html.src} alt="html" class="w-12" />
            HTML
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={css.src} alt="css" class="w-12" />
            CSS
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={tailwind.src} alt="tailwind" class="w-12" />
            TailwindCSS
          </li>
          <li class="flex gap-2 justify-center items-center text-xl font-bold">
            <img src={react.src} alt="nodejs" class="w-12" />
            React
          </li>
        </ul>
      </div>
      <div
        class="group mt-5 inline-flex flex-nowrap w-full overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
      >
        <ul
          class="flex justify-center items-center [&_li]:mx-3 [&_img]:max-w-none group-hover:[animation-play-state:paused] animate-infinite-scroll"
        >
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={astro.src} alt="jssss" class="w-12" />
            Astro
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={git.src} alt="jssss" class="w-12" />
            Git
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={mysql.src} alt="ts" class="w-12" />
            MySQL
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={postgres.src} alt="html" class="w-12" />
            PostgreSQL
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={python.src} alt="css" class="w-12" />
            Python
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={pandas.src} alt="css" class="w-12" />
            Pandas
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={nodejs.src} alt="tailwind" class="w-12" />
            NodeJS
          </li>
        </ul>
        <ul
          class="flex justify-center items-center [&_li]:mx-3 [&_img]:max-w-none group-hover:[animation-play-state:paused] animate-infinite-scroll"
          aria-hidden="true"
        >
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={astro.src} alt="jssss" class="w-12" />
            Astro
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={git.src} alt="jssss" class="w-12" />
            Git
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={mysql.src} alt="ts" class="w-12" />
            MySQL
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={postgres.src} alt="html" class="w-12" />
            PostgreSQL
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={python.src} alt="css" class="w-12" />
            Python
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={pandas.src} alt="css" class="w-12" />
            Pandas
          </li>
          <li class="flex gap-3 justify-center items-center text-xl font-bold">
            <img src={nodejs.src} alt="tailwind" class="w-12" />
            NodeJS
          </li>
        </ul>
      </div>
    </div>
    <div id="projects" class="mt-20">
      <h1 class="text-2xl md:text-4xl font-bold mb-5">
        <i class="fa-regular fa-star scale-85 text-ctp-blue mr-1"></i>Featured
        Projects
      </h1>
      <FeaturedProject />
    </div>
  </div>
</div>
<script></script>
